<nav class="sideMenu">
    <div class="searchBox">
        <img class="image_search" src="static/fms/assets/search.svg" alt="">
    </div>
    <ul class="listItems">
        <li class="listItem">
            ファイル
        </li>
        <li class="listItem">
            お気に入りフォルダ
        </li>
        <li class="listItem">
            最近使ったアイテム
        </li>
        <li class="listItem">
            ファイルの更新履歴
        </li>
        <li class="listItem">
            削除したファイル
        </li>
    </ul>
</nav>