{% load static %}
<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Lovie FMS</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static "fms/favicon.ico" %}">
  <link rel="stylesheet" href="{% static "fms/styles.bundle.css" %}">
</head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="{% static "fms/inline.bundle.js" %}"></script><script type="text/javascript" src="{% static "fms/polyfills.bundle.js" %}"></script><script type="text/javascript" src="{% static "fms/vendor.bundle.js" %}"></script><script type="text/javascript" src="{% static "fms/main.bundle.js" %}"></script></body>
</html>
