/* Main Contents Area */

.filerArea{
  height: 100vh;    
  margin-left: 272px;
  background-color: white;
}

.filerArea_contents{
  padding-left: 52px;
  padding-right: 49px;
  padding-top: 50px;
  overflow-y: scroll;
}

.filerArea_heading{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filerArea_heading--rivers{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.heading_ttl{
  font-size: 24px;
  font-weight: bold;
}

.fileArea_filePath{
  margin-top: 24px;
  color: #A4A4A4;
  font-size: 14px;
}

.image_icon:first-child{
  margin-right: 10px;
}

/* fileListTable */

.fileListTable{
  margin-top: 50px;
  width: 100%;
  font-size: 14px;
}

.fileListTable_heading{
  text-align: left;
}

td{
  vertical-align: middle;
}

.hasIcon--folder{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  padding-left: 9px;
}

.hasIcon--folder::before{
  content: "";
  display: block;
  background-image: url(/assets/folder.svg);
  background-repeat:no-repeat;
  background-position: 50% 50%; 
  width: 50px;
  height: 50px;
  margin-right: 9px;
}

.hasIcon--file{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  padding-left: 9px;
}

.hasIcon--file::before{
  content: "";
  display: block;
  background-image: url(/assets/file.svg);
  background-repeat:no-repeat;
  background-position: 50% 50%; 
  width: 50px;
  height: 50px;
  margin-right: 9px;
}

.fileListTable_coloum:hover{
  background-color: #F8FBFF;
  cursor: pointer;
}

.fileListTable_coloum--head{
  border-bottom: 1px solid #DDD;
}

.fileListTable_coloum--head th{
  padding-bottom: 8px;
}

.fileListTable_coloum--head > :first-child{
  min-width: 300px;
  width: 30%;
}

.fileListTable_coloum--head > :nth-child(2){
  min-width: 150px;
  width: 30%;
}

.fileListTable_coloum{
  height: 72px;
  border-bottom: 1px solid #DDD;
}

.fileListTable_coloum > :not(:first-child){
  color: #A4A4A4;
}

/*  upload.html */

.item__headingArea{
  background-image: linear-gradient(126deg, #2468D5 0%, #1E3BA3 86%);
  height: 80px; 
  color: #ffffff;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: height 300ms ease-in-out;
}

.score{
  background-color: #3773D6;
  padding: 11px 17px;
  border-radius: 40px;
  margin-left: 17px;
  margin-right: 30px;
}

.pathOptions{
  width: 100%;
}

.pathOptions .filerArea_contents{
  padding: 20px 30px 0;
}

.pathOption__item.pathOption__item--close > .item__headingArea{
  height: 44px;
  font-size: 14px;
}

.pathOption__item.pathOption__item--close > .item__headingArea:hover{
  opacity: 0.8;
  cursor: pointer;
}

.pathOption__item.pathOption__item--close > .filerArea_contents{
  height: 0px;
  overflow: hidden;
  padding-top: 0;
  border-bottom: 1px solid #fff;
}

.pathOption__item.pathOption__item--close .score{
  padding: 7px 12px;
}

.pathOption__item .filerArea_contents{
  height: calc(100vh - 80px - 20px - 44px - 44px - 2px);
  transition: height 300ms ease-in-out;
}

.uploadItemPalet{
  height: 100vh;
  -ms-flex-preferred-size: 590px;
      flex-basis: 590px;
  box-shadow: 0 3px 29px 0 rgba(27, 27, 27, .07);
  padding: 50px 43px 0;
  box-sizing: border-box;
  overflow-y: scroll;
}

.base__uploadScreen{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__title{
  font-size: 14px;
}

.info__subTitle{
  margin-top: 7px;
  font-size: 12px;
  color: #A4A4A4;
}

.cardListItems{
  margin-top: 46px;
}

.cardListItem{
  border-radius: 21px;
  margin-bottom: 42px;
  padding:29px 24px;
  box-sizing: border-box;
  border: 2px solid #D6DCE3;
}
.cardListRadioBtn{
  display: none;
}

.cardListRadioBtn:checked + .cardListItem{
  border: 2px solid #D9EAFF;
}

.cardListRadioBtn:checked + .cardListItem:hover{
  box-shadow: 0 0 29px 0 rgba(59, 158, 255, .20);
  transform: scale(1.005);
  transition: transform 200ms ease;
  cursor: move;
}


.cardListItem:hover{
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */
